/* css hack */

* {
  margin: 0;
  padding: 0;
}


ul,ol{
  list-style: none;
}


a {
  text-decoration: none;
}


input {
  outline: none;
}


button {
  border: 0;
}


.clear::after {
  content: "";
  display: block;
  clear: both;
}


.clearfix{
  *zoom:1;
}


.center {
  width: 1000px;
  margin: auto;
}